@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */
section{
   margin-bottom: 100px;
   margin-top: 100px;
}
.title{
   color: rgb(13, 19, 33);
   font-family: Azeret Mono;
   font-size: 48px;
   font-weight: 800;
   line-height: 68px;
   letter-spacing: 0%;
   text-align: center;
   margin-bottom: 0px;
}
.description{
   color: rgb(13, 19, 33);
   font-family: Azeret Mono;
   font-size: 16px;
   font-weight: 400;
   line-height: 20px;
   letter-spacing: 0%;
   text-align: center;
   margin-top: 25px;
}

/* banner styles */
#banner{
  display: flex;
  justify-content: center;
  background-image: url(../assets/Hero-bg.png);
  height: 652px;
  margin-top: 0px;
    
}
.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1330px;
    
    
}


 .banner-btn{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
background: rgb(13, 19, 33);
padding: 24px;
margin-top: 25px;
 }
 /* Inspiration section */
 #inspiration{
   max-width: 1300px;
   margin: 0px auto;
   
 }

 .video{
   border: 2px solid gray;
   text-align: center;
   /* max-width: 1430px; */
   height:600px;
   padding: 32px;
   margin-top: 32px;
   
 }
 iframe{
   width: 100%;
   height: 100%;
    }

#inspiration .title {
   font-size: 40px;
   margin-top: 25px;
}

/* my current target */
#current-target{
   max-width: 1300px;
   margin: 100px auto;
}
.targets{
   display: flex;
   gap: 20px;
   justify-content: space-between;
   margin-top: 90px;

}
.target-title{
   color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.target-description{
   color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;

}
.target{
   padding: 40px;
   /* max-width: 200px; */
   
}
div #html{
   background-color: #FF4C1E0D;
   
}
div #css{
   background-color: #004CE80D;
   
}
div #js{
   background-color: #FFDF000D;
   
}

/* support */
#support{
   max-width:1180px;
   height: 550px;
   margin: 100px auto;
   background:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)) ,url(../assets/handshake.jpg);
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 40px 60px;
   border-radius: 16px;
   

   
}

.support-title{
   color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
}
.support-description{
   color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
form{
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 50px;
}
input[type=text]{
   box-sizing: border-box;
   border: 1px solid rgba(13, 19, 33, 0.15);
   border-radius: 8px;
   background: rgb(255, 255, 255);
   padding: 20px 48px;
   /* Frame 7 */
position: static;
width: 548px;
height: 57px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 10;
padding: 19px 20px 19px 20px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;
}
.submit{

/* Frame 8 */
position: static;
width: 120px;
height: 57px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 17px 20px 17px 20px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 16px;
border-radius: 8px;
border: none;
background: rgb(255, 255, 255);
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}

/* footer section */
footer{
   display: flex;
   justify-content: space-around;
   border-radius: 16px;
background: rgba(13, 19, 33, 0.03);
padding: 70px;
}
.footer-title{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
.icons{
   display: flex;
   gap: 30px;
}
